*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-blue: #0e111c;
    --light-blue: #78B7D0;
    --nav-border: aqua;  
    --color-blue-dark: #405ded;
    --color-blue-light: #0ea2e0;
}

nav{
    border-bottom: 2px solid var(--light-blue);
    background-color: var(--dark-blue);
    height: 70px;
    
}

.navbar-brand{
    color: var(--light-blue);
}

.nav-link {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--light-blue);
}

.nav-link::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    width: calc(100% + 100px); 
    height: calc(100% + 100px); 
    width: 100%;
    height: 100%;
    border: 2px solid var(--nav-border);
    border-radius: 5px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.5s ease; 
}

.nav-link:hover::after {
    transform: translateX(-50%) scale(1);
    color: var(--light-blue);
}

.navbar-brand:hover,
.nav-link:hover {
    color: var(--light-blue); 
}



@media (max-width: 991.98px) {
    .navbar {
        padding: 0;
    }
    
    .navbar-collapse {
        justify-content: flex-end;
        width: 100%; /
    }
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        width: 400px; 
        padding: 0;
        background-color: rgb(14, 14, 63);
        position: absolute;
        top: 60px; 
        right: 20px; 
        border-radius: 10px;
        transition: max-height 0.5s ease-in-out;
    }
    .nav-link {
        padding: 15px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
}
