body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

:root{
    --dark-blue: #0e111c;
    --light-blue: #78B7D0;
    --nav-border: aqua;  
    --color-blue-dark: #405ded;
    --color-blue-light: #0ea2e0;
}

main{
    padding-left: 40px;
    padding-right: 40px;
}

main header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}

.sep{
    height: 3px; 
    background-image: linear-gradient(to right, #0111f3, #00f7ff, #28f305, #0111f3);
  }

#section-2{
    height: 100vh;
}

main h1, h3{
    margin-bottom: 20px;
}


@media (min-width: 992px){
    #title{
        font-family: "poppins", "sans-serif";
        font-size: 60px;
        font-weight: bolder;
    }
    
    #subtitle{
        font-size: 30px;
    }
    
    #main-image{
        height: 300px;
    }
}

