body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--dark-blue) ;
    font-family: "Poppins", sans-serif;
}

:root{
    --dark-blue: #16325B;
    --light-blue: #78B7D0;
    --nav-border: aqua;
    
}

nav{
    border-bottom: 2px solid rgb(110, 110, 110);
    background-color: var(--dark-blue);
    height: 70px;
    
}

.navbar-brand{
    color: var(--light-blue);
}

.nav-link {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--light-blue);
}

.nav-link::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    width: calc(100% + 100px); 
    height: calc(100% + 100px); 
    width: 100%;
    height: 100%;
    border: 2px solid var(--nav-border);
    border-radius: 5px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.5s ease; 
  }

.nav-link:hover::after {
    transform: translateX(-50%) scale(1);
    color: var(--light-blue);
}

.navbar-brand:hover,
.nav-link:hover {
    color: var(--light-blue); 
}


/* Mobil nézet beállítása */
@media (max-width: 991.98px) {
    .navbar-collapse {
        justify-content: center; /* Középre igazítás */
    }
    .navbar-nav {
        flex-direction: column; /* Oszlopban elrendezés */
        align-items: center; /* Középre igazítás */
        width: 100%; /* Teljes szélesség */
    }
    .nav-link {
        padding: 15px; /* Nagyobb padding a könnyebb kattintáshoz */
    }
}
